* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

.sector {
  background-color: #F3F6FA; }

.block {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1130px; }
  .block--h {
    padding: 23px 0;
    display: flex;
    justify-content: space-between; }
  .block--main {
    padding: 137px 0; }

.logo {
  align-items: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #3C64B1;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px; }

.hMenu {
  display: flex;
  justify-content: center; }
  .hMenu__item {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.2px;
    color: #373F41;
    flex: none;
    order: 0;
    margin: auto 16px;
    text-decoration: none; }

.logMenu {
  display: flex; }
  .logMenu__item {
    display: flex;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    flex: none;
    order: 0;
    margin: 0px 10px; }
    .logMenu__item--logIn {
      color: #3C64B1;
      text-decoration: none; }
    .logMenu__item--startNow {
      color: #FFFFFF;
      background: #3C64B1;
      padding: 12px 18px;
      text-decoration: none;
      font-style: normal; }

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #373F41;
  max-width: 730px;
  margin: 0 auto; }

.descr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #737B7D;
  margin: 32px auto 56px;
  max-width: 730px; }

.mainButtons {
  display: flex;
  justify-content: center; }
  .mainButtons__item {
    display: flex;
    width: 136px;
    padding: 10px 18px;
    margin: 0px 24px;
    height: 42px;
    text-decoration: none;
    align-items: center; }
    .mainButtons__item--startFreeTrial {
      display: flex;
      background: #3C64B1;
      color: #FFFFFF;
      text-align: center; }
    .mainButtons__item--learnMore {
      color: #3C64B1;
      border: 1px solid #3C64B1;
      padding: 10px 27px; }

.fHeading {
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #373F41;
  margin: 24px auto; }

.fDescr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #737B7D;
  margin: 24px auto; }

.fCards {
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }

.cards {
  flex: 0 0 33%; }
  .cards__img {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px; }
  .cards__cardH {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #373F41;
    margin: 12px auto; }
  .cards__cardDescr {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
    margin: 12px auto; }
  .cards__cardBtn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #3C64B1;
    margin: 34px 0 0; }
